openapi: 3.2.0
info:
  title: Pixee REST Scans API
  version: v1
  description: Pixee provides a REST API for programmatic access to vulnerability triage and remediation workflows.
  contact:
    name: Pixee
    url: https://docs.pixee.ai/api/overview
  x-generated: '2026-07-20'
  x-method: generated
  x-source: https://docs.pixee.ai/api/overview
servers:
- url: https://app.pixee.ai/api/v1
  description: Pixee production API (path-based versioning; breaking changes ship under a new version prefix)
security:
- bearerAuth: []
tags:
- name: Scans
paths:
  /repositories/{id}/scans:
    get:
      tags:
      - Scans
      operationId: listRepositoryScans
      summary: List scan history for a repository
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of scans
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Scans
      operationId: triggerScan
      summary: Trigger a new scan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Scan accepted
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    Error:
      type: object
      description: Consistent error envelope used by all error responses.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: not_found
            message:
              type: string
              example: Repository with ID 'abc123' not found.
            request_id:
              type: string
              example: req_7f8a9b2c
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Token does not have permission for this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API token generated from Settings > API Tokens in the Pixee dashboard. Tokens may be organization-wide or repository-specific. Sent as `Authorization: Bearer <token>`.'
